/* Default CSS for Project */
/*
COLOR PALETTE:

Background: #23272a
2nd Background: #676e77
3rd Background: #2c2f33
3rd Background (input): #4f555c

Text: #ffffff
Highlight: #99aab5
Accent: #4e7498
*/

/* BACKGROUND */
body {
  background-color: #23272a;
  color: #ffffff;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

div{
  background-color: #4e7498;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 1px;
}

.query{
  background-color: #17232b;
  padding: 20px 10px 20px 20px;
}

.query:last-child {
    margin-bottom: 0px;
}

#main{
  background-color: #2c2f33;
  margin: 0px;
  padding: 10px 10px 10px 10px;
}

#Welcome{
  background-color: #2c2f33;
  border: 3px solid #4e7498;
  text-align: center;
}

#Admin{
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

#Student{
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

#SideView{
  background-color: transparent;
  margin: 15px 0px 15px 0px;
  padding: 0px;
  width: 15%;
  float: left;
}

#MainView{
  background-color: transparent;
  margin: 0px;
  padding: 0px;
  width: 85%;
  float: right;
}

#Menu{
  background-color: #2c2f33;
  height: 100%;
  margin: 5px 10px 5px 0px;
  text-transform: uppercase;
}

ul{
  padding-left: 0px;
  list-style: none;
}

li{
  margin-left: 10px;
  margin-right: 10px;
  /*padding: 10px 0px 10px 3px;*/
  border-bottom: 2px solid #4e7498;
}

li:hover, li:focus{
  background-color: #23272a;
  color: #ffffff;
}

li:last-child{
  border: none;
}

fieldset{
  background-color: #2c2f33;
  border-color: transparent;
  margin: 2px;
}

input{
  background-color: #4f555c;
  border-color: #4f555c;
  border: 0px;
  padding: 10px 5px 10px 5px;
}

input::placeholder{
  color: #99aab5;
}

input[type=text]{
  color: #ffffff;
}

input[type=text]:focus{
  color: #ffffff;
  background-color: #23272a;
  border-color: #4e7498;
}

input[type=submit]{
  background-color: #4f555c;
  color: #99aab5;
}

input[type=submit]:hover{
  background-color: #23272a;
  color: #99aab5;
}

.btnHolder{
  text-align: center;
  background-color: transparent;
}

button{
  background-color: #4f555c;
  border-color: transparent;
  color: #99aab5;
  padding: 10px 5px 10px 5px;
  /* align-content: center; */
  /* align-self: center; */
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

button:hover{
  background-color: #23272a;
  color: #99aab5;
  border-color: #4e7498;
  border-style: solid;
}

/* TEXT */
h1 {
  color: #ffffff;
  margin: 5px;
}

h2 {
  color: #99aab5;
  margin: 5px;
}

h3{
  color: #b6c0c7;
  margin: 3px 0px 3px 0px;
}

h4{
  color: #b6c0c7;
  margin: 1px 0px 1px 0px;
}

a{
  color: #99aab5;
  text-decoration: none;
  padding: 10px 0px 10px 3px;
  display: block;
}

a:hover, a:focus{
  color: #ffffff!important;
}


/* Arrow Pointer Affect - HomePage */
#arrowAnim {
  /* width: 100vw; */
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

#arrowAnim div {
  background-color: transparent;
}

.arrow {
  width: 25px;
  height: 25px;
  border: 15px solid;
  border-color: #99aab5 transparent transparent #99aab5;
  transform: rotate(-45deg);
  margin: 0px;
}


.arrowSliding {
  position: absolute;
  -webkit-animation: slide 4s linear infinite;
          animation: slide 4s linear infinite;
  margin: 0px;
}

.delay1 {
  -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.delay2 {
  -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
/*.delay3 {
  -webkit-animation-delay: 3s;
    animation-delay: 3s;
} */

@-webkit-keyframes slide {
  0% { opacity:0; transform: translateX(15vw); }
  20% { opacity:.75; transform: translateX(9vw); }
  50% { opacity:1; transform: translateX(0vw); }
  80% { opacity:.75; transform: translateX(-9vw); }
  100% { opacity:0; transform: translateX(-15vw); }
}
@keyframes slide {
  0% { opacity:0; transform: translateX(15vw); }
  20% { opacity:.75; transform: translateX(9vw); }
  50% { opacity:1; transform: translateX(0vw); }
  80% { opacity:.75; transform: translateX(-9vw); }
  100% { opacity:0; transform: translateX(-15vw); }
}
